.TextInput{
    outline: none;
    text-decoration: none;
    color: var(--color-text-primary);
    padding: 0.3rem 0.5rem 0.5rem 0.9rem;
    border: none;
    border-bottom: 3px solid var(--color-text-primary);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    width: 100%;
    background-color: var(--color-background-secondary);
}
.TextInputContainer{
    position: relative;   
    width: 100%;

}

.TextInputContainer::before{
    content: '*';
    font-size: 2rem;
    color: var(--color-accent-primary);
    position: absolute;
    top: 0;
    right: 0;
}