.Header{
    z-index: 10;
    background: var(--color-background);
    position: fixed;
    width: 100%;
    /*margin-top: 0.5rem;
    */height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /*box-shadow: 1px 2px 10px -5px var(--color-text-primary);
    border-radius: 0 10rem 10rem 0;
    -webkit-border-radius: 0 10rem 10rem 0;
    -moz-border-radius: 0 10rem 10rem 0;
    -ms-border-radius: 0 10rem 10rem 0;
    -o-border-radius: 0 10rem 10rem 0;
    */transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.HomeHeader{
    background: #33333300;
}
.ProjectHeader{
    background: #33333300;
}


.header-container{
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0 2rem;
}

.logo{
    color: var(--color-text-primary);
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}
.ProjectHeader .logo{
    color: var(--color-background)!important;
}


.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    list-style-type: none;
    height: 100%;
}


.nav-links{
    /*text-transform: uppercase;*/
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    
}

.HomeHeader .nav-links p{
    color: var(--color-background);
}

.ProjectHeader .nav-links p{
    color: var(--color-background);
}

.nav-links p{
    color: var(--color-text-primary);
    position: relative;
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
}
.nav-links:hover p{
    color: var(--color-accent-primary);
}

/*
.nav-links p::before{
    content: attr(data-text);
    position: absolute;
    top:0;
    left: 0;
    overflow: hidden;
    white-space: pre;
    width: 0%;
    transition: 0.5s ease-in;
    color: var(--color-accent-primary);
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
}

.nav-links:hover p::before{
    width: 100%;
}*/



/*.nav-links-active::after{
    content: ' ';
    position: absolute;
    bottom: 0rem;
    width: 100%;
    height: 0.2rem;
    background: var(--color-accent-primary);
}*/

.nav-contact-link{
    text-decoration: none;
}
/*
.nav-links:hover{
    color: var(--color-accent-primary);
}/*/

.hamburger-menu{
    display: none;
    cursor: pointer;
}


@media screen and (max-width: 700px) {
    .HomeHeader .nav-links p, .ProjectHeader .nav-links p{
        color: var(--color-text-primary);
    }

    .nav-bar{
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--color-background);
        opacity: 1;
        transition: 0.3s ease-in;
        -webkit-transition: 0.3s ease-in;
        -moz-transition: 0.3s ease-in;
        -ms-transition: 0.3s ease-in;
        -o-transition: 0.3s ease-in;
    }

    .nav-bar-hidden{
        opacity: 0;
        top: -100vh;
    }

    
    .nav-links{
        height: auto;
        font-size: 3rem;
    }
    .HomeHeader .hamburger-menu-opened .line, .ProjectHeader .hamburger-menu-opened .line{
        background-color: var(--color-text-primary);
    }

    .HomeHeader .line, .ProjectHeader .line{
        background-color: var(--color-background);
    }
    
    .HomeHeader .logo{
        color: var(--color-background);
    }


    .hamburger-menu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 1.5rem;
        z-index: 15;
    }
    .line{
        width: 2rem;
        height: 3px;
        border-radius: 1rem;
        background-color: var(--color-text-primary);
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }
    .hamburger-menu-opened .line2{
        opacity: 0;
    }
    .hamburger-menu-opened .line1{
        -webkit-transform: rotate(-45deg) translate(-5px,10px);
            -ms-transform: rotate(-45deg) translate(-5px,10px);
                transform: rotate(-45deg) translate(-5px,10px);
    }
    .hamburger-menu-opened .line3{
        -webkit-transform: rotate(45deg) translate(-5px,-10px);
            -ms-transform: rotate(45deg) translate(-5px,-10px);
                transform: rotate(45deg) translate(-5px,-10px);;
    }

    .header-container{
        padding: 0 2rem;
    }

    .nav-contact-btn{
        font-size: 2rem;
        padding: 0.7rem 3rem;
    }

}
