.home-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Home{
    padding: 0 5rem;
    width: 1920px;
}
.home-subtitle{
    position: relative;
    font-size: 3rem;
    color: var(--color-text-primary);
    padding-left: 1.2rem;
}
.home-subtitle::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0.8rem;
    width: 0.5rem;
    height: 70%;
    background-color: var(--color-accent-primary);
}



.hero-image-background{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100vh;
    width: 50vw;
    overflow: hidden;
    background: #3333334d;
}
.hero-image-overlay{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50vw;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.3);
}

.hero-image-background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.hero-title{
    font-size: 4rem;
    line-height: 4.5rem;
    width: 50%;
    margin-bottom: 2rem;
    position: relative;
    z-index: -1;
}

.hero-text-container{
    position: relative;
    padding: 2.5rem 2.5rem 2.5rem 0;
    width: 60%;
    z-index: 1;
    margin-bottom: 5rem;
}
.hero-background{
    position: absolute;
    width: 200%;
    height: 100%;
    background: #22222299;
    left: -100%;
    top: 0;
}

.moving-hero-background{
    position: absolute;
    width: 182.3%;
    height: 100%;
    background: var(--color-text-primary);
    left: -100%;
    top: 0;
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
}

.hero-text-container:hover .moving-hero-background{
    width: 200%;
}



.hero-text{
    z-index: 1;
    font-size: 1.1rem;
    position: relative;
    color: var(--color-background);
    padding-bottom: 4.5rem;
    width: 83.33%;
}

.hero-cta-buttons-container{
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.hero-cta-btn-2{
    position: absolute;
    bottom: 0;
    right: 0;
}

.hero-cta-btn{
    position: absolute;
    bottom: 0;
    right: 260px;
}


.home-work-section{
    width: 100%;
    /*overflow-x: hidden;*/
    min-height: 50vh;
    padding: 6rem 0 3rem 0;
    display: flex;
    gap: 5rem;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}
.home-what-we-do{
    padding: 17rem 0 3rem 0;
}


.home-work-image2{
    position: relative;
    width: 30rem;
    height: 20rem;
}

.home-work-image2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-work-image2::before{
    content: '';
    position: absolute;
    left: -1rem;
    top: 1rem;
    width: 100%;
    height: 100%;
    background: var(--color-text-secondary);
    z-index: -1;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.home-work-image2:hover::before{
    left: 1rem;
    background: var(--color-accent-primary);
}

.home-work-image-container{
    width: 60%;
    height: 35rem;
    position: relative;
}

.home-work-image{
    width: 100%;
    height: 35rem;
    object-fit: cover!important;
}
.red-rectangle-bg{
    position: absolute;
    left: -2rem;
    top: -2rem;
    width: 30%;
    height: 30rem;
    background: var(--color-accent-primary);
}
.work-image-swiper-pagination{
    position: absolute;
    top: -2rem!important;
    right: 0rem !important;
    width: auto!important;
    left: auto!important;
    height: 1rem;
}

.work-image-swiper-pagination .swiper-pagination-bullet{
    height: 1rem;
    width: 1rem;
    margin: 0 0 0  1rem!important;
}


.home-work-text{
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 50%;
}

.home-work-text p{
    color: var(--color-text-secondary);
}


.home-partner-section{
    padding: 0 0 3rem 0;
}
.home-partner-section h2{
    margin-bottom: 2rem;
}
.partner-slide {
    overflow: hidden;
}

.swiper{
    max-width: 90vw;
    padding-bottom: 2rem!important;
}
.swiper-slide img{
    width: 100%;
    object-fit: contain;
}
.swiper-pagination-bullet-active{
    background: var(--color-accent-primary)!important;
}

.moving-text-container{
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 95vh;
    left: 0;
}

.background-moving-text{
    font-size: 10rem;
    text-transform: uppercase;
    color: #F0F0F0;
    white-space: nowrap;
    font-family: 'Bebas Neue', cursive;
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    line-height: 0.9;
    z-index: -2;
}

.home-stats-section{
    min-height: 30vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background: url('../../../public/image2.png');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

.home-how-we-work-background-image{
    width: 100%;
    height: 100%;
    position: absolute;
    background: url('/image5.png');
    background-size: cover;
    background-position: top;
    background-attachment:fixed;
    left: 0;
    top: 0;
}
.home-how-we-work-background-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background: rgba(34, 34, 34, 0.7);
    top: 0;
}
.home-how-we-work{
    height: 40rem;
    margin: 5rem 0;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
}
.how-we-work-title{
    position: relative;
    font-size: 6rem;
    color: var(--color-background);
}

.how-we-work-text{
    position: relative;
    font-size: 1.6rem;
    width: 80%;
    color: var(--color-background);
}


@media screen and (max-width: 1920px) {
    .Home{
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .Home{
        padding: 0 2rem;
    }
    .swiper{
        max-width: 80vw;
    }
}

@media screen and (max-width: 700px) {
    .hero-image-background{ 
        height: 70vh;
        width: 100vw;
    }
    .hero-image-overlay{
        height: 70vh;
        width: 100vw;
    }
    .hero-text-container{
        width: 100%;
        padding-bottom: 6rem;
    }
    .hero-title{
        width: 100%;
        color: var(--color-background);
        z-index: 1;
        line-height: 3.3rem;
        font-size: 2.5rem;
    }
    
    .hero-text{
        font-size: 1rem;
        width: 95%;
    }
    
    .moving-hero-background{
        width: 200%;
    }
    
    .home-work-section{
        padding: 2rem 0;
        flex-direction: column-reverse;

    }
    
    .home-work-text{
        width: 100%;
    }
    .home-work-image2{
        width: 95%;
        margin-left: 1rem;
        height: 15rem;
    }
    
    .home-work-image-container{
        width: 100%;
    }
        
    .home-work-image{
        height: 17rem;
    }


    .red-rectangle-bg{
        height: 20rem;
    }


    .hero-cta-buttons-container{
        flex-direction: column;
    }
    
    .hero-cta-btn{
        right: 0;
        bottom: -70px;
    }
    .home-subtitle{
        font-size: 2.5rem;
    }
    
    .home-subtitle::before{
        bottom: 0.5rem;
    }
    .home-how-we-work{
        flex-direction: column;
        padding: 2rem;
    }
    .how-we-work-text{
        font-size: 1.2rem;
        width: 100%;
    }
       
    .how-we-work-title{
        font-size: 3rem;
    }
}