.Portfolio{
    width: 1920px;
}

.portfolio_title{
    font-size: 4rem;
    color: var(--color-text-primary);
}

.portfolio_subtitle{
    margin: 1rem 0;
    width: 60%;
    
}

.category_menu{
    display: flex;
    margin-bottom: 1rem;
    gap: 5rem;
}

.category_btn{
    padding: 0.5rem 0;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-text-primary);
    position: relative;
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
}
.category_btn_active{
    color: var(--color-accent-primary)
}

/*.category_btn_active::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.3rem;
    background-color: var(--color-accent-primary);
}*/

/*
.category_btn::before{
    content: '';
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-accent-primary);
    transform-origin: 100% 0;
    transform: scale3d(0, 1, 1);
    transition: transform 300ms;
}*/

.category_btn:hover{
    color: var(--color-accent-primary);
}
/*
.category_btn:hover::before{
    transform-origin: 0 0;
    transform: scale3d(1, 1, 1);
}*/


.work_table{
    min-height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    width: 90%;
    padding-bottom: 2rem;
}
.mobile_work_category_menu{
    display: none;
}
.portfolio_content{
    display: flex;
    gap: 2rem;
}

.portfolio-subcategory-content{
    width: 70%;
    overflow: hidden;
    position: relative;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem;
}
.porfolio-subcategory-overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background: rgb(0, 0, 0,0.6);
}
.portfolio-subcategory-content-image{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
.white-screen{
    width: 70%;
    height: 40rem;
}



.portfolio-subcategory-content h3{
    font-size: 5rem;
    color: var(--color-background);
    padding-bottom: 1rem;
    line-height: 1.1;
}
.portfolio-subcategory-content p{
    color: var(--color-background);
}

.portfolio-subcategory-menu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.subcategory-option{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    position: relative;
    left: 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.subcategory-option p{
    color: var(--color-text-primary);
    font-size: 1.4rem;
    font-weight: 500;
}
.selected-subcategory p{
    color: var(--color-accent-primary);
}
.selected-subcategory svg path{
    fill: var(--color-accent-primary);
}

.subcategory-option:hover{
    left: 1rem;
}


.portfolio-categories{
    margin-top: 5rem;
}
.hero-portfolio{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 8rem 5rem;
    gap: 1rem;
    color: var(--color-background);
}
.hero-portfolio p{
    width: 70%;
    line-height: 1.6rem;
}
.hero-portfolio h1{
    font-size: 4rem;
}

.hero-buttons-container-portfolio{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    height: auto;
    width: 100%;
}




@media screen and (max-width: 1440px) {
    .Portfolio{
        width: 100%;
    }
}


@media screen and (max-width: 1000px) {
    .work_table{
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .category_menu{
        display: none;
    }
    .portfolio_title{
        font-size: 3rem;
    }
    .mobile_work_category_menu{
        display: block;
    }    
    .portfolio_subtitle{
        width: 100%;
    }
}


@media screen and (max-width: 600px) {
    .work_table{
        grid-template-columns: 1fr;
    }
    .portfolio_subtitle{
        font-size: 0.9rem;
    }
    .portfolio_title{
        font-size: 2.5rem;
        width: 100%;
        text-align: center;
    }
    .portfolio-subcategory-content{
        width: 100%;
        height: 20rem;
    }
    
    .portfolio-subcategory-content h3 {
        font-size: 3rem;
    }
    
    .portfolio-subcategory-content p {
        font-size: 0.8rem;
    }


    .portfolio-subcategory-menu{
        display: none;
    }

    .hero-portfolio{
        padding: 5rem 2rem;
    }
    .hero-portfolio p{
        width: 100%;
    }
    .hero-portfolio h1{
        font-size: 3rem;
    }
}

