.OurWork{
    padding: 7rem 5rem 2rem 5rem;
    width: 1440px;
}

.ourwork_title{
    font-size: 4rem;
    color: var(--color-text-primary);
}

.our_work_subtitle{
    margin: 1rem 0;
    width: 60%;
    
}

.category_menu{
    display: flex;
    margin-bottom: 1rem;
}

.category_btn{
    padding: 1rem 3rem;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--color-text-primary);
    position: relative;
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
}

/*.category_btn_active::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.3rem;
    background-color: var(--color-accent-primary);
}*/

/*
.category_btn::before{
    content: '';
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-accent-primary);
    transform-origin: 100% 0;
    transform: scale3d(0, 1, 1);
    transition: transform 300ms;
}*/

.category_btn:hover{
    color: var(--color-accent-primary);
}
/*
.category_btn:hover::before{
    transform-origin: 0 0;
    transform: scale3d(1, 1, 1);
}*/


.work_table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    width: 90%;
}

@media screen and (max-width: 1440px) {
    .OurWork{
        width: 100%;
    }
}


@media screen and (max-width: 1000px) {
    .work_table{
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .category_menu{
        display: none;
    }
    .ourwork_title{
        font-size: 3rem;
    }
}


@media screen and (max-width: 600px) {
    .OurWork{
        padding: 7rem 2rem 2rem 2rem;
    }
    .work_table{
        grid-template-columns: 1fr;
    }
    .our_work_subtitle{
        width: 100%;
        font-size: 0.9rem;
    }
    .ourwork_title{
        font-size: 2.5rem;
        width: 100%;
        text-align: center;
    }
}