.hero-services{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 8rem 5rem;
    gap: 1rem;
    color: var(--color-background);
}
.hero-services-image{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    object-position: top;
}
.hero-services-overlay{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.hero-services h1{
    font-size: 4rem;
}
.hero-services p{
    width: 50%;
    line-height: 1.6rem;
}

.services-info-container{
    padding: 4rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.services-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}



@media screen and (max-width: 700px) {

    .services-grid-container{
        grid-template-columns: 1fr;
    }

}