*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-accent-primary: #EC353E;
  --color-accent-secondary: #F5555C;
  --color-background: #fff;
  --color-background-secondary: #EEE;
  --color-text-primary: #333;
  --color-text-secondary: #808080;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.accent{
  color: var(--color-accent-primary);
}

.text{
  color:var(--color-text-secondary);
  font-size: 1.1rem;
  font-weight: 400;;
}